
.projects-section {
  padding: 100px 80px;
  background: linear-gradient(180deg, #020617, #020617);
  color: #e5e7eb;
  text-align: center;
}

.projects-title {
  font-size: 42px;
  margin-bottom: 15px;
}

.projects-title span {
  background: linear-gradient(90deg, #38bdf8, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-subtitle {
  max-width: 700px;
  margin: 0 auto 60px;
  font-size: 15px;
  color: #cbd5f5;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.project-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-content {
  padding: 25px;
  text-align: left;
}

.project-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f8fafc;
}

.project-content p {
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 15px;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
}

.project-tags span {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 999px;
  background: rgba(56, 189, 248, 0.15);
  color: #38bdf8;
}

.project-content a {
  text-decoration: none;
  color: #38bdf8;
  font-size: 14px;
  font-weight: 500;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .projects-section {
    padding: 70px 20px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .projects-title {
    font-size: 32px;
  }
}





.card,
.about-card {
  background: var(--card-bg);
}
