:root {
  --bg-main: #4b4696;
  --bg-light: #5a55aa;
  --text-main: #eaeaff;
  --text-muted: #cfcdfc;
  --accent: #b8b4ff;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: "Segoe UI", sans-serif;
}
