/* ===== THEME VARIABLES ===== */

:root {
  --bg-color: #020617;
  --text-color: #f8fafc;
  --card-bg: rgba(255, 255, 255, 0.06);
}

body[data-theme="light"] {
  --bg-color: #f8fafc;
  --text-color: #020617;
  --card-bg: #ffffff;
}

/* Apply globally */
body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}








* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0b1120;
  color: #e5e7eb;
}
